@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital@0;1&family=Rubik:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300;400&display=swap");
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}
.container {
  background-image: linear-gradient(#eb7100, #eca829, #eb7100, #eca829);
}

body {
  background-image: url(../imagenes/namek.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.akira {
  animation: fadeIn 2s ease;
}

.img-thumbnail {
  border-radius: 0 0 50px 0;
}

.img-fluid {
  border-radius: 0 0 50px 0;
}

.mapa-img {
  width: 50%;
  float: right;
}

.main {
  font-family: "Oswald", sans-serif;
  background-color: rgba(240, 240, 240, 0.315);
  border-radius: 50px 0px;
  padding: 1% 2% 2% 2%;
  margin: 10% 0 1% 0;
}

/*
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    justify-content: space-around;
    margin: 1% 0;
    */
.historia {
  margin: 5% 0%;
  padding: 18px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background-color: rgba(240, 240, 240, 0.315);
  border-radius: 10px;
}
.historia img {
  width: 300px;
}

.principal p {
  padding: 0 10%;
}

.goku-chiquito {
  grid-column: 2/2;
  grid-row: 1/1;
}

.dball {
  grid-column: 1/2;
  grid-row: 1/3;
}

.dbz {
  grid-column: 2/3;
  grid-row: 2/4;
}

.dbgt {
  grid-column: 1/2;
  grid-row: 3/5;
}

.hesferas {
  grid-column: 2/3;
  grid-row: 4/6;
}

.gohan-goten-trunks {
  grid-column: 1/3;
  grid-row: 5/6;
}

.accordion-button {
  background: rgb(235, 113, 0);
  background: linear-gradient(90deg, rgb(235, 113, 0) 25%, rgb(41, 126, 236) 75%);
  border-radius: 50px 0px;
}

.container-fluid {
  flex-wrap: wrap;
}

button {
  border-radius: 25px 0px;
}

.accordion-body {
  background-color: rgba(80, 80, 80, 0.4392156863);
  border-radius: 50px 0px;
  display: flex;
  flex-direction: column;
}

.accordion-item {
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
}

.personaje {
  align-items: baseline;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.personaje img {
  object-fit: contain;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

p {
  padding-top: 10px;
  font-size: large;
}

.galeria-sayan, .galeria-androides, .galeria-humano {
  margin: 2% 0%;
  background-color: rgba(240, 240, 240, 0.315);
  border-radius: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
  padding: 5% 2%;
  justify-content: center;
}
.galeria-sayan figure, .galeria-androides figure, .galeria-humano figure {
  transition: transform 0.5s;
}
.galeria-sayan figure:hover, .galeria-androides figure:hover, .galeria-humano figure:hover {
  transform: scale(1.5);
}

.galeria-humano {
  background-image: url(../imagenes/planeta-tierra.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.galeria-sayan {
  background-image: url(../imagenes/planeta-vegeta.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.galeria-androides {
  background-image: url(../imagenes/laboratorio-maki.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: initial;
  background-attachment: fixed;
}

.figure-caption {
  font-size: large;
  color: black;
  background-color: rgba(255, 255, 255, 0.39);
  border-radius: 10px;
}

.galeria {
  margin: 2% 0%;
  background-color: rgba(240, 240, 240, 0.315);
  border-radius: 50px 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
  padding: 2% 2%;
  justify-content: center;
}

.galerie {
  margin: 100fr 0;
  display: flex;
  height: 520px;
  width: 100%;
  margin: 10% 0;
}
.galerie img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.5;
  transition: 1.5s ease;
}
.galerie img:hover {
  cursor: crosshair;
  width: 40vw;
  opacity: 1;
  filter: contrast(120%);
}

.peleas {
  background-color: rgba(240, 240, 240, 0.315);
  border-radius: 10px;
}

.arriba {
  position: fixed;
  bottom: 3%;
  right: 3%;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  height: 60px;
  width: 60px;
}
.arriba img {
  height: 60px;
  width: 60px;
}

.navFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  border: 5px solid #000;
  padding: 5px 10px;
  height: fit-content;
  font-size: larger;
  text-decoration: double;
  background: rgb(235, 113, 0);
  background: linear-gradient(90deg, rgb(235, 113, 0) 25%, rgb(41, 126, 236) 75%);
  border-radius: 50px 0px;
  margin: 5px 0px 5px 0px;
  float: left;
  position: fixed;
  nav-index: unset;
  z-index: 1000;
}

header {
  padding: 0;
  text-decoration-color: #eb7100;
  font-family: "Poppins", sans-serif;
  grid-column: 1/3;
}

nav ul li a {
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4;
}

#arriba {
  justify-self: end;
  align-self: flex-end;
}

.box {
  margin: 0px 5px;
  border-radius: 0px 0px 30px 0px;
  transition: 1.5s;
}
.box:hover {
  background-color: #eb7100;
}

@keyframes un_efecto {
  0% {
    background-color: orange;
  }
  100% {
    background-color: #297eec;
  }
}
.aside {
  border-radius: 50px 0px;
  text-align: center;
  padding: 2% 1%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background: rgb(235, 113, 0);
  background: linear-gradient(90deg, rgb(235, 113, 0) 25%, rgb(41, 126, 236) 75%);
  border: solid 5px #d4d4d4;
  border-radius: 50px 0px;
  margin: 1%;
}
.aside .noticia {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.337254902);
  align-items: center;
  padding: 5px;
  margin: 1%;
  border-radius: 50px 0px;
}
.aside .noticia p {
  font-weight: bolder;
}

footer {
  grid-column: 1/3;
  text-transform: uppercase;
  padding: 10px 5%;
  border-radius: 50px 0px;
  border-color: #000;
  background: rgb(235, 113, 0);
  background: linear-gradient(90deg, rgb(235, 113, 0) 25%, rgb(41, 126, 236) 75%);
  border: 5px solid;
  margin: 1% 0%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.foot {
  padding: 1%;
}

.icon {
  width: 48px;
  height: 48px;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-right: 40px;
}

h2 {
  margin-top: 30px;
}

nav li {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .aside {
    flex-direction: column;
  }
  .noticias {
    flex-direction: row;
    width: 50px;
  }
  .galerie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 400px;
  }
}
@media screen and (max-width: 992px) {
  .sagas {
    display: flex;
    flex-direction: column;
  }
  #arriba {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .galerie {
    height: 300px;
  }
  .galerie img:hover {
    width: 250px;
  }
  .navbar-brand {
    font-size: medium;
  }
  .navFlex {
    font-size: medium;
    float: right;
  }
  .noti {
    display: flex;
    flex-direction: row;
  }
  .historia {
    background-color: rgba(199, 199, 199, 0.568627451);
  }
  .principal p {
    padding: 0 3%;
  }
  .galeria {
    grid-template-areas: "goku gohan " "krillin vegeta" "roshi yamcha" "androide piccolo " "freezer freezer";
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer {
    justify-content: flex-start;
  }
  .personaje {
    max-width: 100%;
    justify-content: start;
    align-items: normal;
  }
}
@media screen and (max-width: 500px) {
  .navFlex {
    font-size: small;
    padding: 0px 0px;
  }
  .navbar-brand {
    font-size: small;
  }
  .acordion-button {
    font-size: small;
  }
  h2 {
    font-size: large;
  }
  p {
    padding: 0;
    font-size: small;
    font-weight: lighter;
  }
  a {
    font-size: small;
  }
  .footer {
    height: 20px;
  }
  .d-inline-block {
    display: none !important;
  }
  .main {
    padding-top: 40px;
  }
  .galerie {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 520px;
    width: 100%;
    margin: 10% 0;
  }
  .galerie img {
    height: 50vw;
    width: 40vw;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 1.5s ease;
  }
  .galerie img:hover {
    cursor: crosshair;
    width: 90vw;
    opacity: 1;
    filter: contrast(120%);
  }
}/*# sourceMappingURL=style.css.map */