@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital@0;1&family=Rubik:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300;400&display=swap");
.container {
  background-image: linear-gradient(#eb7100, #eca829, #eb7100, #eca829);
}

body {
  background-image: url(../imagenes/namek.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.img-thumbnail {
  border-radius: 0 0 50px 0;
}

.img-fluid {
  border-radius: 0 0 50px 0;
}

.mapa-img {
  width: 50%;
  float: right;
}

.main {
  font-family: "Oswald", sans-serif;
  background-color: rgba(240, 240, 240, 0.315);
  border-radius: 50px 0px;
  padding: 1% 2% 2% 2%;
  margin: 1% 0 1% 0;
}

.sagas {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  justify-content: space-around;
  margin: 1% 0;
}
.sagas .historia {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  background-color: rgba(240, 240, 240, 0.315);
  border-radius: 10px;
}
.sagas .historia p {
  padding: 0% 10%;
}
.sagas .historia img {
  width: 300px;
}
.sagas .goku-chiquito {
  grid-column: 2/2;
  grid-row: 1/1;
}
.sagas .dball {
  grid-column: 1/2;
  grid-row: 1/3;
}
.sagas .dbz {
  grid-column: 2/3;
  grid-row: 2/4;
}
.sagas .dbgt {
  grid-column: 1/2;
  grid-row: 3/5;
}
.sagas .hesferas {
  grid-column: 2/3;
  grid-row: 4/6;
}
.sagas .gohan-goten-trunks {
  grid-column: 1/3;
  grid-row: 5/6;
}

.personaje {
  align-items: baseline;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.personaje img {
  object-fit: contain;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  padding-top: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 580;
  font-size: medium;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
  padding: 1%;
  justify-content: center;
  grid-template-areas: "goku goku gohan vegeta" "goku goku krillin vegeta" "roshi roshi krillin yamcha" "androide piccolo freezer freezer";
}
.galeria .goku {
  grid-area: goku;
}
.galeria .gohan {
  grid-area: gohan;
}
.galeria .vegeta {
  grid-area: vegeta;
}
.galeria .krillin {
  grid-area: krillin;
}
.galeria .yamcha {
  grid-area: yamcha;
  justify-content: flex-start;
}
.galeria .roshi {
  grid-area: roshi;
}
.galeria .piccolo {
  grid-area: piccolo;
}
.galeria .androide {
  grid-area: androide;
}
.galeria .freezer {
  grid-area: freezer;
}

.galerie {
  display: flex;
  height: 520px;
  width: 100%;
  margin: 5% 0;
}
.galerie img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.5;
  transition: 0.5s ease;
}
.galerie img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.arriba {
  position: fixed;
  bottom: 0%;
  right: 3%;
  color: black;
  border-style: outset;
  border-color: #eb7100;
  border-radius: 25px 0%;
  background-color: #297eec;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 2rem;
  width: 6rem;
}
.arriba p {
  padding: 0%;
  margin: 0%;
}

.navFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  border: 5px solid #000;
  padding: 5px 10px;
  height: fit-content;
  font-size: larger;
  text-decoration: double;
  background-image: linear-gradient(to right, #ff7b00, rgba(105, 105, 105, 0.2549019608), blue);
  border-radius: 50px 0px;
  margin: 5px 0px 5px 0px;
}

header {
  padding: 0;
  text-decoration-color: #eb7100;
  font-family: "Poppins", sans-serif;
  grid-column: 1/3;
}

nav ul li a {
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4;
}

.active {
  color: black;
  appearance: none;
  border: none;
  width: 400px;
  height: 40px;
  font-size: 24px;
  background: #297eec;
  box-shadow: 1px 1px 0px 2px #1570e7,2px 2px 0px 2px #1265d0,3px 3px 0px 2px #1059b8,4px 4px 0px 2px #0e4ea1;
  background-color: #eb7100;
}

.box {
  margin: 0px 5px;
  border-radius: 0px 0px 30px 0px;
  transition: 1.5s;
}
.box:hover {
  background-color: #eb7100;
}

@keyframes un_efecto {
  0% {
    background-color: orange;
  }
  100% {
    background-color: #297eec;
  }
}
.aside {
  border-radius: 50px 0px;
  text-align: center;
  padding: 2% 1%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-image: linear-gradient(to right, #ff7b00, rgba(105, 105, 105, 0.2549019608), blue);
  border: solid 5px #d4d4d4;
  border-radius: 50px 0px;
  margin: 1%;
}
.aside .noticia {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.337254902);
  align-items: center;
  padding: 5px;
  margin: 1%;
  border-radius: 50px 0px;
}
.aside .noticia p {
  font-weight: bolder;
}

footer {
  grid-column: 1/3;
  text-transform: uppercase;
  padding: 10px 5%;
  border-radius: 50px 0px;
  border-color: #000;
  background-image: linear-gradient(to right, #ff7b00, rgba(105, 105, 105, 0.2549019608), blue);
  border: 5px solid;
  margin: 1% 0%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.foot {
  padding: 1%;
}

.icon {
  width: 48px;
  height: 48px;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-right: 40px;
}

h2 {
  margin-top: 30px;
}

nav li {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .aside {
    flex-direction: column;
  }
  .noticias {
    flex-direction: row;
    width: 50px;
  }
  .galerie {
    height: 400px;
  }
}
@media screen and (max-width: 992px) {
  .sagas {
    display: flex;
    flex-direction: column;
  }
  .galerie {
    height: 300px;
  }
  .galerie img:hover {
    width: 250px;
  }
  .navFlex {
    flex-direction: column;
  }
  .noti {
    display: flex;
    flex-direction: row;
  }
  .historia {
    background-color: rgba(199, 199, 199, 0.568627451);
  }
  .galeria {
    grid-template-areas: "goku gohan " "krillin vegeta" "roshi yamcha" "androide piccolo " "freezer freezer";
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer {
    justify-content: flex-start;
  }
  .personaje {
    max-width: 100%;
    justify-content: start;
    align-items: normal;
  }
}/*# sourceMappingURL=style.css.map */