@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

@mixin gradient-r {
    background: rgb(235, 113, 0);
    background: linear-gradient(90deg, rgba(235, 113, 0, 1) 25%, rgba(41, 126, 236, 1) 75%);
    ;
}

$base-color: #297eec;
$shadow: "";

@for $i from 1 through 4 {
    $shadow: $shadow+"#{$i}px #{$i}px 0px 2px "+darken($base-color, $i*5)+",";
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }

    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}
@keyframes shake {
    0% {
        transform: scaleZ(10);
    }
    25% {
        translate: 8px 0;
    }
    75% {
        translate: -8px 0;
    }
    100% {
        translate: 0%;
    }
  }