@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital@0;1&family=Rubik:ital@0;1&display=swap');
@import './variables';
@import './general';
@import './header';
@import'./aside';
@import './footer';

* {
    margin: 0;
    padding: 0;
}

.arriba {
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: black;
    border-style: outset;
    border-color: #eb7100;
    border-radius: 25px 0%;
    background-color: #297eec;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 3rem;
    width: 6rem;
}


.galerie{
    display: flex;
    width: 100%;
    height: 520px;
    margin: 5% 0;
    img{
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: 0.5s ease;
        &:hover{
            cursor: crosshair;
            width: 300px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}




h1 {
    margin-right: 40px;
}

h2 {
    margin-top: 30px;
}

nav li {

    text-align: center;
}




@media screen and (max-width: 1200px) {
    .aside {
        flex-direction: column;
    }

    .noticias {
        flex-direction: row;
        width: 50px;
    }

}

@media screen and (max-width: 992px) {
    .sagas {
        display: flex;
        flex-direction: column;
    }

    .navFlex {
        flex-direction: column;
    }

    .noti {
        display: flex;
        flex-direction: row;
    }

    .historia {
        background-color: #c7c7c791;
    }

    .galeria {
        grid-template-areas:
            "goku gohan "
            "krillin vegeta"
            "roshi yamcha"
            "androide piccolo "
            "freezer freezer"

    }

    .personaje {
        max-width: 100%;
        justify-content: start;
        align-items: normal;
    }
}