@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:ital@0;1&family=Rubik:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300;400&display=swap');
@import './variables';
@import './general';
@import './header';
@import'./aside';
@import './footer';
* {
    margin: 0;
    padding: 0;
}




@media screen and (max-width: 1200px) {
    .aside {
        flex-direction: column;
    }

    .noticias {
        flex-direction: row;
        width: 50px;
    }

    .galerie{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 400px;
    }
}

@media screen and (max-width: 992px) {
    .sagas {
        display: flex;
        flex-direction: column;
    }
    #arriba{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }
    .galerie{
        height: 300px;
        img{
            &:hover{
                width: 250px;
            }
        }
    }
    .navbar-brand{
        font-size: medium;
    }

    .navFlex {
        font-size: medium;
        float: right;
    }

    .historia {
        background-color: #c7c7c791;
    }
    .principal{
        p{
            padding: 0 3%;
        }
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        .icon{
            width: 30px;
            height: 30px;
        }
    }

    .personaje {
        max-width: 100%;
        justify-content: start;
        align-items: normal;
    }
}
@media screen and (max-width: 500px){
    .navFlex {
        font-size: small;
        padding: 0px 0px;
    } 
    .navbar-brand{
        font-size: small;
    }
    .acordion-button{
        font-size: small;
    }
    h2{
        font-size: large;
    }
    p {
        padding: 0;
        font-size: small;
        font-weight: lighter;
    }
    a{  font-size: small;
    }
    .footer{
        height: 20px;
    }
    .d-inline-block {
        display: none !important;
    }
    .galeria-androides{
        background-size: cover;
    }
    .main{
        padding-top: 40px;
    }
    .galerie {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        @include sizes(100%, 520px);
        margin: 10% 0;
    
        img {
            height: 50vw;
            width: 40vw;
            flex-grow: 1;
            object-fit: cover;
            opacity: 0.8;
            transition: 1.5s ease;
            
            &:hover {
                cursor: crosshair;
                width: 90vw;
                opacity: 1;
                filter: contrast(120%);
            }
        }
    }
}